# automatically inserted by Jetbrains
.idea/*
*.idea*
# report data txt
extraction/tagging/data/*
extraction/tagging/sampledata/*
extraction/simple_match/data/*
extraction/db_operation/getdb.py

*pycache*

# secret configuration file
*config_param.py*

