html,body{
    width:100%;
    /*border-color: red;*/
}

* {
    /*border:solid 1px;*/
    /*margin:0;*/
    /*padding:0;*/
}

#header {
    background:#FFFFFF;
    height:90px;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    /*height:8%;*/
}


#main{
    background: #FEFEFE;
}

#right{

    background: #FFFFFF;
}

#left{

}

.box{
    background:#EAF4F7;
    clear:both;
    border-radius: 10px;
}

#article .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

#article .subtitle{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 30px;
}
.sectionTitle{
    font-size: 27px;
    text-align: center;
    padding-bottom: 20px;
    padding-top:10px;
}

table{
    margin: 0 auto;
    padding-bottom: 10px;
}
th{
    height: 40px;
    width:90px;
    text-shadow: 2px 2px 2px #EEEEEE;
    font-weight: normal;
    padding:3px;
}
th.col2{
    width:500px;
    text-shadow: 0px 0px 0px #000000;
}
th.col4{
    width:300px;
    text-shadow: 0px 0px 0px #000000;
}
th.col6{
    width:900px;
    text-shadow: 0px 0px 0px #000000;
}



