<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <title>DFCReport - 双一流学术报告交流信息聚合平台</title>
</head>
<body>
    <div class="col-md-12 row" id="header"><!--{#        题头，含logo标题、用户、菜单#}-->

        <div class="col-md-9" id="logo">
            <div class="fl col-md-1">
                <img style="height:90px" src="../static/image/logo.png" />
            </div>
        </div>

        <div class="col-md-3 row" id="menus">
            <div class="col-md-3"></div>
            <div class="col-md-3" id="qicon">
                <img src="../static/image/plane.png"  alt="q_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="micon">
                <img src="../static/image/setting.png" alt="m_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="uicon">
                <img src="../static/image/user.png" alt="u_icon" style="height:60px;margin-top: 20px"/>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-dark col-md-12" style="background-color: #136687;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">网站首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">报告列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link toalert" href="#">交流分析</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/cluster/school">分类聚合 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link toalert" href="#">关于团队</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a type="button" class="btn btn-primary my-2 my-sm-0 toalert" id="searchbtn" style="color:white;">搜索</a>
    </form>
  </div>
</nav>

    <div class='col-md-12' id="info" style="width:100%">
         <nav class="col-md-12" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><strong>当前收录数据学校</strong></li>
          </ol>
         </nav>
<!--{#        主要信息陈列#}-->
        <div class="col-md-12 row" id="universityList">
            <div class="col-md-12 mb-5"><p class="h2 text-center"><b>Universities</b></p></div>
            <div class="col-md-12 row">
                {% for university in universities %}
            <div class="col-md-2">
                <div class="image-fluid col-md-12 media" style="height:60%"><a href="{{ ("/cluster/school/"+university.id) if university.id else "#universityList" }}"><img class="image-fluid col-md-12 align-self-center"  src="{{ ("https://downloads.mariozzj.cn/img/UnivLogo/"+university.logo) if university.logo else "/static/image/court.svg" }}"></a></div>
                <div class="col-md-12 mt-3"><p class="h4 text-center">{{ university.univ_name }}</p></div>
                <div class="col-md-12"><p class="text-center">{{ university.location if university.location else "地点未知" }}</p></div>
            </div>
                {% endfor %}
        </div>
        </div>
    </div>

    <div class="jumbotron col-md-12" id="footer"><!--{#        页脚，网站地图、版权信息、备案信息#}-->
        <div class="col-md-12"><p class="text-center">支持：国家级大学生创新创业训练计划项目“面向非正式科学交流分析的‘世界一流高校’学术报告数据平台建设”（202010486032）</p></div>
        <div class="col-md-12"><p class="text-center">CopyRight © 2019-2021 DFCReport</p></div>
        <div class="col-md-12 row" id="beian">
        <a class="col-md-6" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602004261" style="display:inline-block; text-decoration:none;">
<p class="text-right" style="color:#939393;">鄂公网安备 42010602004261号</p></a>
        <img src="../static/image/beian.png" style="height:15px"/>
            <a class="col-md-5" target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block; text-decoration:none;">
<p class="text-left" style="color:#939393;">赣ICP备20002056号-2</p></a>
        </div>
        </div>
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToastInfo" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-animation="true" data-delay="5000">
    <div class="toast-header bg-danger text-white">
      <img src="/static/image/location_white.svg" class="rounded mr-2" alt="icon" style="height:18px">
      <strong class="mr-auto">来自DFCR的通知</strong>
      <small>刚刚</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      本站数据正在补充及增量建设中，考虑到数据完备性和运行性能限制，该功能暂未开放使用，敬请期待！
    </div>
  </div>
</div>
</body>
</html>
<script>
    $('.toalert').click(function () {
        $('#liveToastInfo').toast('show')
    })


</script>