<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <title>DFCReport - 双一流学术报告交流信息聚合平台</title>
</head>
<body>
    <div id="header"><!--{#        题头，含logo标题、用户、菜单#}-->

        <div id="logo">
            <div class="fl" style="height:100%">
                <img src="../static/image/whuicon.png" style="height:100%" />
            </div>
            <div class="fl">
                <div id="maintitle">DFCReport</div>
                <div id="subtitle">双一流学术报告信息聚合平台</div>
            </div>

        </div>

        <div id="menus">
            <div id="usericon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
            <div id="menuicon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
            <div id="questionicon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
        </div>
    </div>

    <div id="navbar"><!--{#        导航栏，含一级页面及搜索框#}-->
        <div id="bar">
            <div class="navi">
                <a href="/">首页原型</a>
            </div>
            <div class="navi">
                <a href="/list">列表原型</a>
            </div>
            <div class="navi">
                <a href="/info">详情原型</a>
            </div>
            <div class="navi">
                <a href="#">占位占位</a>
            </div>
            <div class="navi">
                <a href="#">占位占位</a>
            </div>
        </div>
        <div id="searchbox">
            <label style="height:100%">
                <input style="height:100%;border: none;border-radius:10px;padding-left:10px">
            </label>
            <button id="search">搜</button>
        </div>
    </div>

    <div id="carousel">
<!--       <img src="../static/image/sample.jpg" style="width:100%;height:100%">-->
    </div>

    <div id="info">
<!--{#        主要信息陈列#}-->
        <div id="introduction"><!--{#            about,services#}-->
            <div class="sectionTitle">Introduction</div>
            <div class="introitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Lorem Ipsum</div>
                <div class="discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="introitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Lorem Ipsum</div>
                <div class="discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="introitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Lorem Ipsum</div>
                <div class="discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="introitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Lorem Ipsum</div>
                <div class="discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div>&nbsp;</div>
        </div>

        <div id="universityList">
            <div class="sectionTitle">Universities</div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div class="univitem">
                <img src="../static/image/cup.svg">
                <div class="tinyHeader" align="center">Wuhan University</div>
                <div class="discription">China</div>
            </div>
            <div>&nbsp;</div>
        </div>

        <div id="guide"><!--{#            guide & reference#}-->
            <div class="sectionTitle">Guide</div>
            <div align="center">Under Construction...</div>
            <div style="height:400px"></div>
        </div>
    </div>

    <div id="footer"><!--{#        页脚，网站地图、版权信息、备案信息#}-->
        <div>支持：国家级大学生创新创业训练计划项目“面向非正式科学交流分析的‘世界一流高校’学术报告数据平台建设”（202010486032）</div>
        <div>CopyRight © 2019-2021 DFCReport</div>
        <div id="beian">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602004261" style="display:inline-block; text-decoration:none;">
<p style="float:left;height:10px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42010602004261号</p></a>
        <img src="../static/image/beian.png" />
            <a target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block; text-decoration:none;">
<p style="float:left;height:10px;margin: 0px 5px 0px 0px; color:#939393;">赣ICP备20002056号-2</p></a>
        </div>
        </div>
</body>
</html>