<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/info.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <title>DFCReport - 双一流学术报告交流信息聚合平台</title>
</head>
<body>
    <div id="header"><!--{#        题头，含logo标题、用户、菜单#}-->

        <div id="logo">
            <div class="fl" style="height:100%">
                <img src="../static/image/whuicon.png" style="height:100%" />
            </div>
            <div class="fl">
                <div id="maintitle">DFCReport</div>
                <div id="subtitle">双一流学术报告信息聚合平台</div>
            </div>

        </div>

        <div id="menus">
            <div id="usericon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
            <div id="menuicon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
            <div id="questionicon">
                <img src="../static/image/defaultusericon.svg" style="height:100%">
            </div>
        </div>
    </div>
    <div id="navbar"><!--{#        导航栏，含一级页面及搜索框#}-->
        <div id="bar">
            <div class="navi">
                <a href="/">首页原型</a>
            </div>
            <div class="navi">
                <a href="/list">列表原型</a>
            </div>
            <div class="navi">
                <a href="/info">详情原型</a>
            </div>
            <div class="navi">
                <a href="#">占位占位</a>
            </div>
            <div class="navi">
                <a href="#">占位占位</a>
            </div>
        </div>
        <div class="searchbox">
            <label style="height:100%">
                <input style="height:100%;border: none;border-radius:10px;padding-left:10px">
            </label>
            <button id="search">搜</button>
        </div>
    </div>
    <div id="main">
        <div id="left">
            <div class="box" id="links">
                <div class="box-header">相关链接</div>
                <div class="box-contain">
                        <a>· 武汉大学信息管理学院</a><br />
                        <a>· 南京大学信息管理学院</a><br />
                        <a>· 华中师范大学信息管理学院</a><br />
                </div>
            </div>
            <div class="box" id="links">
                <div class="box-header">评论？</div>
                <div class="box-contain">
                        <a>· 没有评论。我觉得搞个评论好像太麻烦了，但是不知道这里放什么板块。</a><br />
                </div>
            </div>
        </div>
        <div id="right">
            <div id="breadcrumb">
                您当前的位置： Bread > Crumb > Breadcrumb
            </div>
            <div id="article">
                <div class="title">贸易自由化、职业选择与异质劳动力在企业间的再配置</div>
                <div class="subtitle">
                    孙楚仁 / 西南财经大学国际商学院 <br /> 2018年6月6日
                </div>
                <div id="basicinfo">
                    <div class="sectionTitle">基本信息</div>
                    <table border="0">
                        <tr>
                            <th>报告主题：</th>
                            <th class="col2">贸易自由化、职业选择与异质劳动力在企业间的再配置</th>
                            <th>报告学者：</th>
                            <th class="col4">孙楚仁 教授</th>
                        </tr>
                        <tr>
                            <th>报告时间：</th>
                            <th class="col2">2018年6月6日</th>
                            <th>学者院系：</th>
                            <th class="col4">西南财经大学国际商学院</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col2"></th>
                            <th></th>
                            <th class="col4">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>报告地点：</th>
                            <th class="col2">湖南大学经济与贸易学院</th>
                            <th></th>
                            <th class="col4"></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col2"></th>
                            <th></th>
                            <th class="col4">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>主持人：</th>
                            <th class="col2">祝树金 教授</th>
                            <th>邀请人：</th>
                            <th class="col4"></th>
                        </tr>
                    </table>
                </div>

                <div id="detailedinfo">
                    <div class="sectionTitle">详情信息</div>
                    <table border="0">
                        <tr>
                            <th>报告摘要：</th>
                            <th class="col6">孙楚仁，教授、博士生导师，上海市“曙光学者”，现为西南财经大学国际商学院副院长、地缘政治与经济研究所所长、西南财经大学校学术委员会成员，被聘为《国际商务研究》杂志编委成员、重庆师范大学特聘教授、新兴经济体论坛智库专家，中国区域科学协会常务理事、中国区域科学协会新经济地理专业委员会副秘书长、“全国高校国际贸易学科协作组”青年论坛副秘书长、地缘政治经济学年会固定召集人。主要从事国际贸易理论与政策、经济地理和地缘政治与经济领域的教学和研究工作，已在《经济研究》、《世界经济》、《数量经济技术经济研究》等国内外重要学术期刊发表论文40多篇。获2014年第十二届上海哲学社会科学优秀成果论文类二等奖、2013年第六届“黄达-蒙代尔经济学奖”、2012年第十七届安子介国际贸易优秀著作二等奖（排名第二）、2008年第九届上海市哲学社会科学著作类二等奖（排名第二）等奖励多项。主持国家自然科学基金、国家社科重大课题和国家自科重点课题子课题、上海市“曙光学者”项目等多项课题。</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col6">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>学者简介：</th>
                            <th class="col6">孙楚仁，教授、博士生导师，上海市“曙光学者”，现为西南财经大学国际商学院副院长、地缘政治与经济研究所所长、西南财经大学校学术委员会成员，被聘为《国际商务研究》杂志编委成员、重庆师范大学特聘教授、新兴经济体论坛智库专家，中国区域科学协会常务理事、中国区域科学协会新经济地理专业委员会副秘书长、“全国高校国际贸易学科协作组”青年论坛副秘书长、地缘政治经济学年会固定召集人。主要从事国际贸易理论与政策、经济地理和地缘政治与经济领域的教学和研究工作，已在《经济研究》、《世界经济》、《数量经济技术经济研究》等国内外重要学术期刊发表论文40多篇。获2014年第十二届上海哲学社会科学优秀成果论文类二等奖、2013年第六届“黄达-蒙代尔经济学奖”、2012年第十七届安子介国际贸易优秀著作二等奖（排名第二）、2008年第九届上海市哲学社会科学著作类二等奖（排名第二）等奖励多项。主持国家自然科学基金、国家社科重大课题和国家自科重点课题子课题、上海市“曙光学者”项目等多项课题。</th>
                        </tr>
                    </table>
                </div>
                <div>
                    <br />
                    <br />
                    <a href="#" id="originurl">来&#12288源：湖南大学经济与贸易学院</a><br />
                    <a> 上一条：Copula-Based Time Series with Filtered Nonstationarity </a><br />
                    <a> 下一条：中国的气候-经济关系与长期损失 </a>
                </div>
            </div>

        </div>
        <div style="clear:both"></div>
    </div>
    <div id="footer"><!--{#        页脚，网站地图、版权信息、备案信息#}-->
        <div>支持：国家级大学生创新创业训练计划项目“面向非正式科学交流分析的‘世界一流高校’学术报告数据平台建设”（202010486032）</div>
        <div>CopyRight © 2019-2021 DFCReport</div>
        <div id="beian">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602004261" style="display:inline-block; text-decoration:none;">
<p style="float:left;height:10px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42010602004261号</p></a>
        <img src="../static/image/beian.png" />
            <a target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block; text-decoration:none;">
<p style="float:left;height:10px;margin: 0px 5px 0px 0px; color:#939393;">赣ICP备20002056号-2</p></a>
        </div>
        </div>
</body>
</html>