<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/info.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <title>DFCReport - 双一流学术报告交流信息聚合平台</title>
</head>
<body>
     <div class="col-md-12 row" id="header"><!--{#        题头，含logo标题、用户、菜单#}-->

        <div class="col-md-9" id="logo">
            <div class="fl col-md-1">
                <img style="height:90px" src="../static/image/logo.png" />
            </div>
        </div>

        <div class="col-md-3 row" id="menus">
            <div class="col-md-3"></div>
            <div class="col-md-3" id="qicon">
                <img src="../static/image/plane.png"  alt="q_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="micon">
                <img src="../static/image/setting.png" alt="m_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="uicon">
                <img src="../static/image/user.png" alt="u_icon" style="height:60px;margin-top: 20px"/>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-dark col-md-12" style="background-color: #136687;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/">网站首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">报告列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link toalert" href="#">交流分析</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cluster/school">分类聚合</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link toalert" href="#">关于团队</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a class="btn btn-primary my-2 my-sm-0 toalert" type="button" style="color:white;">搜索</a>
    </form>
  </div>
</nav>
    <div class="col-md-12 row" id="main">
    <div class="col-md-12"><br /></div>
        <div class="col-md-3" id="left">
            <div class="card border-info">
              <h5 class="card-header">相关链接</h5>
              <div class="card-body">
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item toalert">武汉大学信息管理学院</li>
                    <li class="list-group-item toalert">南京大学信息管理学院</li>
                    <li class="list-group-item toalert">华中师范大学信息管理学院</li>
                  </ul>
              </div>
            </div>
            <br />
            {% if scholars %}
            {% for scholar in scholars %}
            <div class="card mb-3 border-primary" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ "https://downloads.mariozzj.cn/img/scholarIcon/"+scholar.icon_url if scholar.icon_url else "/static/image/defaultusericon.svg" }}" alt="icon" style="width:95%;margin-left: 5%;margin-top: 5%">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ scholar.name }}</h5>
                    <p class="card-text"><small class="text-muted">{{ scholar.school }} <br /> {{ scholar.title }} </small></p>
                    <p class="card-text">{{ scholar.biography }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
           <div class="card mb-3 border-primary" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/static/image/defaultusericon.svg" alt="icon">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.reporter_name }}</h5>
                    <p class="card-text"><small class="text-muted">{{ item.reporter_school }} <br /> {{ item.reporter_title }} </small></p>
                    <p class="card-text">{{ "该学者暂无简介" }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <br />
            <div class="card border-info">
              <h5 class="card-header">反馈</h5>
              <div class="card-body">
                <h5 class="card-title">向我们报告信息的错误</h5>
                <p class="card-text">发现本条报告有问题？例如信息缺失、信息错误等。欢迎向我们反馈。</p>
                <a href="#" class="btn btn-primary toalert">立即反馈</a>
              </div>
            </div>
        </div>
        <div class="col-md-9" id="right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/list">List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Info</li>
              </ol>
            </nav>
            <div id="article">
                <div class="title">{{ item.topic }}</div>
                <div class="subtitle">
                    {{ item.reporter_name }} / {{ item.reporter_school }} <br /> {{ item.date }}
                </div>
                <div id="basicinfo">
                    <div class="sectionTitle font-weight-lighter">基本信息</div>
                    <table border="0">
                        <tr>
                            <th>报告主题：</th>
                            <th class="col2">{{ item.topic }}</th>
                            <th>报告学者：</th>
                            <th class="col4">{{ item.reporter_name }} {{ item.reporter_title if item.reporter_title else "" }}</th>
                        </tr>
                        <tr>
                            <th>报告时间：</th>
                            <th class="col2">{{ item.date }}</th>
                            <th>{{ "学者院系：" if item.reporter_school else ""}}</th>
                            <th class="col4">{{ item.reporter_school if item.reporter_school else "" }}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col2"></th>
                            <th></th>
                            <th class="col4">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>报告地点：</th>
                            <th class="col2">{{ item.host_school }}</th>
                            <th></th>
                            <th class="col4"></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col2"></th>
                            <th></th>
                            <th class="col4">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>{{ "主持人：" if item.host_name else "" }}</th>
                            <th class="col2">{{ item.host_name if item.host_name else "" }} {{ item.host_title if item.host_title else ""  }}</th>
                            <th>{{ "邀请人：" if item.inviter_name else "" }}</th>
                            <th class="col4">{{ item.inviter_name if item.inviter_name else "" }} {{ item.inviter_title if item.inviter_title else "" }}</th>
                        </tr>
                    </table>
                </div>

                <div id="detailedinfo">
                    <div class="sectionTitle font-weight-lighter">详情信息</div>
                    <table border="0">
                        <tr>
                            <th>{{ "报告摘要：" if item.abstract else "" }}</th>
                            <th class="col6">{{ item.abstract if item.abstract else "报告摘要暂缺，可点击链接进入源网页查看详情。" }}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="col6">&nbsp;</th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th class="col6"></th>
                        </tr>
                    </table>
                </div>
                <div>
                    <br /><br />
                    来&#12288源：<a href="{{item.url}}" id="originurl"> {{ item.host_school }}</a><br />
{#                    上一条：<a href="{{ "/info/" + item.prevId  if item.prevId else "#"}}"> {{ item.prevTitle }} </a><br />#}
{#                    下一条：<a href="{{ "/info/" + item.nextId  if item.nextId else "#"}}"> {{ item.nextTitle }} </a>#}
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
     <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="jumbotron col-md-12" id="footer"><!--{#        页脚，网站地图、版权信息、备案信息#}-->
        <div class="col-md-12"><p class="text-center">支持：国家级大学生创新创业训练计划项目“面向非正式科学交流分析的‘世界一流高校’学术报告数据平台建设”（202010486032）</p></div>
        <div class="col-md-12"><p class="text-center">CopyRight © 2019-2021 DFCReport</p></div>
        <div class="col-md-12 row" id="beian">
        <a class="col-md-6" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602004261" style="display:inline-block; text-decoration:none;">
<p class="text-right" style="color:#939393;">鄂公网安备 42010602004261号</p></a>
        <img src="../static/image/beian.png" style="height:15px"/>
            <a class="col-md-5" target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block; text-decoration:none;">
<p class="text-left" style="color:#939393;">赣ICP备20002056号-2</p></a>
        </div>
        </div>
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToastInfo" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-animation="true" data-delay="5000">
    <div class="toast-header bg-danger text-white">
      <img src="/static/image/location_white.svg" class="rounded mr-2" alt="icon" style="height:18px">
      <strong class="mr-auto">来自DFCR的通知</strong>
      <small>刚刚</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      本站数据正在补充及增量建设中，考虑到数据完备性和运行性能限制，该功能暂未开放使用，敬请期待！
    </div>
  </div>
</div>
</body>
</html>
<script>
    $('.toalert').click(function () {
        $('#liveToastInfo').toast('show')
    })


</script>