<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/list.css" rel="stylesheet">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <title>DFCReport - 双一流学术报告交流信息聚合平台</title>
</head>
<body>
   <div class="col-md-12 row" id="header"><!--{#        题头，含logo标题、用户、菜单#}-->

        <div class="col-md-9" id="logo">
            <div class="fl col-md-1">
                <img style="height:90px" src="/static/image/logo.png" />
            </div>
        </div>

        <div class="col-md-3 row" id="menus">
            <div class="col-md-3"></div>
            <div class="col-md-3" id="qicon">
                <img src="/static/image/plane.png"  alt="q_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="micon">
                <img src="/static/image/setting.png" alt="m_icon" style="height:60px;margin-top: 20px"/>
            </div>
            <div class="col-md-3" id="uicon">
                <img src="/static/image/user.png" alt="u_icon" style="height:60px;margin-top: 20px"/>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark col-md-12" style="background-color: #136687;">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">网站首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">报告列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link toalert" href="#">交流分析</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/cluster/school"><span class="sr-only">(current)</span>分类聚合</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link toalert" href="#">关于团队</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <a class="btn btn-primary my-2 my-sm-0 toalert" type="button" style="color:white;">搜索</a>
        </form>
      </div>
    </nav>
    <div class="col-md-12 row" id="main">
    <div class="col-md-12"><br /></div>
        <div class="col-md-9 row" id="right">
             <nav class="col-md-12" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">[<strong>{{ university.univ_name }}</strong>]聚合学术报告</li>
              </ol>
            </nav>
            <div class="col-md-12 col-xs-12 row ml-3" >
                    {% for item in reports.items %}
                    <div class="card row mb-2" style="width: 100%;">
                    <div class="col-md-12 col-xs-12 row">
                        <div class="col-md-12 col-xs-12 row">
                            <h5 class="col-md-10 col-xs-10 card-title" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width:95%"><div style="float:left"><input type="checkbox" /></div><a class="text-decoration-none" href="{{ '/info/' + item.id_source }}"><p class="font-weight-bold  text-body">{{ item.topic }}</p></a></h5>
                            <div class="col-md-2 col-xs-2">{{ item.date }}</div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-5 reporter">
                                <div class="reporter-icon"><img src="/static/image/defaultusericon.svg" style="height:20px;float:left;margin-top: 3px"></div>
                                <div style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;"><a class="reporter-name-school text-decoration-none" href="#"><p class="text-secondary">{{ item.reporter_name }}&nbsp;{{ ("（"+item.reporter_school + "）") if item.reporter_school else "" }}</p></a></div>
                            </div>
                            <div class="col-md-5 school">
                                <div class="school-icon"><img src="/static/image/court.svg" style="height:20px;float:left;margin-top: 3px"></div>
                                <div style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;"><a class="school-name text-decoration-none" href="{{ ("/cluster/school/"+item.id_univ) if item.id_univ else "#" }}"><p class="text-secondary">{{ item.host_school }}</p></a>  </div>
                            </div>
                        </div>

                        </div>
                    </div>


                    {% endfor %}
            </div>

            <br />
            <div class="col-md-12 col-xs-12" align="center">&nbsp;Page</div>
                <nav class="col-md-12 col-xs-12" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item {{ "disabled" if pageNum <= 2 else "" }}">
                      <a class="page-link" href="/list/{{ pageNum-1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% if pageNum >= 3 %}
                      <li class="page-item"><a class="page-link" href="/cluster/school/{{ university.id }}/{{ 1 }}">1</a></li>
                    <li class="page-item disabled"><a class="page-link">···</a></li>
                  {% endif %}
                  {% for i in range(start,end) %}
                  <li class="page-item {{ "active" if i==pageNum else "" }}"><a class="page-link" href="/cluster/school/{{ university.id }}/{{ i }}">{{ i }}</a></li>
                  {% endfor %}
                  {% if pageNum < maxPage - 1 %}
                    <li class="page-item disabled"><a class="page-link">···</a></li>
                      <li class="page-item"><a class="page-link" href="/cluster/school/{{ university.id }}/{{ maxPage }}">{{ maxPage }}</a></li>
                  {% endif %}
                    <li class="page-item {{ "disabled" if pageNum >= maxPage else "" }}">
                      <a class="page-link" href="/cluster/school/{{ university.id }}/{{ pageNum+1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
        </div>
        <div class="col-md-3" id="left">
            <br /><br />
            <div class="card mb-3 border-primary sticky-top" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ university.univ_name }}</h5>
                    <p class="card-text"><small class="text-muted">{{ university.location if university.location else "地点未知" }}</small></p>
                    <p class="card-text">{{ university.description if university.description else "这所学校还没有简介" }}</p>
                  </div>
                </div>
                  <div class="col-md-4">
                      <img src="{{ ("https://downloads.mariozzj.cn/img/UnivLogo/"+university.logo) if university.logo else "/static/image/court.svg" }}" alt="icon" style="width:90%;margin-top: 5%;">
                    </div>
              </div>
            </div>
            <div class="card border-info" style="max-width: 540px;">
              <h5 class="card-header">相关链接</h5>
              <div class="card-body">
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item toalert">武汉大学信息管理学院</li>
                    <li class="list-group-item toalert">南京大学信息管理学院</li>
                    <li class="list-group-item toalert">华中师范大学信息管理学院</li>
                  </ul>
              </div>
            </div>
            <br /><br /><br /><br />
        </div>

    </div>

    </div>
    <div class="jumbotron col-md-12" id="footer"><!--{#        页脚，网站地图、版权信息、备案信息#}-->
        <div class="col-md-12"><p class="text-center">支持：国家级大学生创新创业训练计划项目“面向非正式科学交流分析的‘世界一流高校’学术报告数据平台建设”（202010486032）</p></div>
        <div class="col-md-12"><p class="text-center">CopyRight © 2019-2021 DFCReport</p></div>
        <div class="col-md-12 row" id="beian">
        <a class="col-md-6" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602004261" style="display:inline-block; text-decoration:none;">
<p class="text-right" style="color:#939393;">鄂公网安备 42010602004261号</p></a>
        <img src="/static/image/beian.png" style="height:15px"/>
            <a class="col-md-5" target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block; text-decoration:none;">
<p class="text-left" style="color:#939393;">赣ICP备20002056号-2</p></a>
        </div>
        </div>
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToastInfo" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-animation="true" data-delay="5000">
    <div class="toast-header bg-danger text-white">
      <img src="/static/image/location_white.svg" class="rounded mr-2" alt="icon" style="height:18px">
      <strong class="mr-auto">来自DFCR的通知</strong>
      <small>刚刚</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      本站数据正在补充及增量建设中，考虑到数据完备性和运行性能限制，该功能暂未开放使用，敬请期待！
    </div>
  </div>
</div>
</body>
</html>
<script>
    $('.toalert').click(function () {
        $('#liveToastInfo').toast('show')
    })


</script>